aiodns==3.0.0
aiosmtpd==1.4.2
asgiref==3.5.0
atpublic==3.0.1
attrs==21.4.0
black==22.1.0
cffi==1.15.0
click==8.0.4
dj-database-url==0.5.0
Django==4.0
django-crispy-forms==1.14.0
django-heroku==0.3.1
gunicorn==20.1.0
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
psycopg2==2.9.3
pycares==4.1.2
pycparser==2.21
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
verify-email==2.4.3
whitenoise==6.0.0
django-allauth==0.49.0
pre-commit