{% extends "basic/layout.html" %}
{% block title %} My Services | Homefix{% endblock %}
{% block body %}
    <br><br>
    <center>
        <h1 class="display-5 fw-bold">SERVICES YOU PROVIDE</h1>
    </center>
    <br><br>

    <div class="container">
        <table class=" table table-hover table-bordered text-center">
            <thead class="table-light">
                <tr>
                    <th scope="col">Service_type</th>
                    <th scope="col">Create Time</th>
                    <th scope="col">Request Time</th>
                    <th scope="col">Requester</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>

                </tr>
            </thead>
            <tbody>
            {% for provide in provide_list %}
                <tr>
                    <th scope="row">{{ provide.service_category }}</th>
                    <td>{{ provide.service_time }}</td>
                    <td>{{ provide.order_time }}</td>
                    <td>{{ provide.request_user_id }}</td>
                    <td>{{ provide.status }}</td>
                    <td>
                        <div class="col justify-content-center align-self-center text-center">
                              {% if  provide.status != 'finished' %}
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    {% if  provide.status == 'no response' %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'user_center:provide_delete' provide.service_id %}">Delete</a>
                                        </li>
                                    {% endif %}
                                    {% if  provide.status == 'picked' %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'user_center:provide_accept' provide.order_id %}">Accept</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'user_center:provide_cancel' provide.order_id %}">Cancel</a>
                                        </li>
                                    {% endif %}
                                    {% if  provide.status == 'in progress' %}
                                        <li><a class="dropdown-item"
                                               href="{% url 'user_center:provide_cancel' provide.order_id %}">Cancel</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                              {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}