{% extends "basic/layout.html" %}
{% block title %} My Requests | Homefix{% endblock %}
{% block body %}

    <br><br>
    <center>
        <h1 class="display-5 fw-bold">SERVICES YOU REQUESTED</h1>
    </center>
    <br><br>
    {% if request.info %}
    <center>
        <div class="btn-outline-danger">
            {{ request.info }}
        </div>
    </center>
    {% endif %}

    <div class="container">
        <table class=" table table-hover table-bordered">
            <thead class="table-light">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Service ID</th>
                <th scope="col">Provider</th>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for order in order_list %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.service.id }}</td>
                    <td>{{ order.service.user }}</td>
                    <td>{{ order.timestamp }}</td>
                    <td>{{ order.service.coins_charged}}</td>
                    <td>{{ order.status }}</td>
                    <td>
                          {% if order.status == "in progress" %}
                        <div class="col justify-content-center align-self-center text-center">
                            <button type="button" class="btn btn-primary"><a style="color: white" href="{% url 'user_center:request_finish' order.id %}">COMPLETE</a>
                            </button>
                        </div>
                         {%endif%}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}