{% extends "basic/layout.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'basic/features.css' %}"/>
{% endblock %}
{% block title %}Profile Editor | Homefix{% endblock %}
{% block body %}

    <style>

        #profile-image1 {
            cursor: pointer;

            width: 100px;
            height: 100px;
            border: 2px solid #03b1ce;
        }

        .title {
            font-size: 16px;
            font-weight: 500;
        }

        .bot-border {
            border-bottom: 1px #f8f8f8 solid;
            margin: 5px 0 5px 0
        }

    </style>
    <br><br>
    <center>
        <h1 class="display-7 fw-bold" style="text-transform:uppercase"> {{ user.first_name }}'s PROFILE</h1>
    </center>

    <br>

    <div class="container mb-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form class="form-horizontal" role="form" method="POST" id="customuser_form"
                      action="{% url 'user_center:profile_editor' %}">
                    {% csrf_token %}

                    <div class="card">
                        <div class="card-header"><h5>Edit Profile</h5></div>
                        <div class="card-body">
                            <div class="box box-info">
                                <div class="box-body">
                                    <br>

                                    <div class="row">
                                        <div class="col-sm-5" align="right">
                                            <img alt="User Pic"
                                                 src="https://github.com/mdo.png"
                                                 id="profile-image1" class="img-circle img-responsive">
                                            <br>
                                        </div>
                                        <div class="col">
                                            <h4 class="text-primary">{{ user.first_name }} {{ user.last_name }}</h4>
                                            <h5 class="text-muted">A Proud Homefixer</h5>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="row">
                                                <div class="col"></div>
                                                <div class="col title fw-bold">First Name :</div>
                                            </div>
                                        </div>
                                        <div class="col form-group">
                                            <input class="form-control" type="text" name="first_name"
                                                   value="{{ user.first_name }}"
                                                   maxlength="128" style="width:15em" id="first_name">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="row">
                                                <div class="col"></div>
                                                <div class="col title fw-bold">Last Name :</div>
                                            </div>
                                        </div>
                                        <div class="col form-group">
                                            <input type="text" class="form-control" name="last_name"
                                                   value="{{ user.last_name }}" style="width:15em"
                                                   id="last_name">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="row">
                                                <div class="col"></div>
                                                <div class="col title fw-bold">Gender :</div>
                                            </div>
                                        </div>
                                        <div class="col form-group">
                                            <div class="col-lg-4">
                                                <select name="gender" id="gender" class="form-control" required>
                                                    {% if user.gender == 'Male' %}
                                                        <option value="Male" selected>Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="Other">Other</option>
                                                    {% elif user.gender == 'Female' %}
                                                        <option value="Female" selected>Female</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Other">Other</option>
                                                    {% else %}
                                                        <option value="" selected disabled hidden>Choose</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                        <option value="Other">Other</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="row">
                                                <div class="col"></div>
                                                <div class="col title fw-bold">Email ID :</div>
                                            </div>
                                        </div>
                                        <div class="col form-group">
                                            <input type="email" name="email" value="{{ user.email }}"
                                                   class="form-control"
                                                   maxlength="128" required="" style="width:15em" id="email" disabled>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="row">
                                                <div class="col"></div>
                                                <div class="col title fw-bold">Location :</div>
                                            </div>
                                        </div>
                                        <div class="col form-group">
                                            <a href="{% url 'user_center:edit_location' %}" class="link-primary">Edit
                                                Location</a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="bot-border"></div>
                                    </div>

                                    <div class="col justify-content-center align-self-center text-center mt-3 form-group">
                                        <button class="btn btn-success"
                                                role="button" type="submit">Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {#  Footer #}
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; Homefix 2022</div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>

    {#    Google Maps API Autosearch #}
    {#    <script>#}
    {#        function initMap() {#}
    {#            var input = document.getElementById('search_location');#}
    {#            var autocomplete = new google.maps.places.Autocomplete(input)#}
    {#        }#}
    {#    </script>#}
    {#    <script async defer#}
    {#            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1REQSuSVU372fX246ZMlahmJyg53GSno&libraries=places&callback=initMap"></script>#}
{% endblock %}