{% extends "basic/layout.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'basic/features.css' %}"/>
{% endblock %}
{% block title %}Editor | Homefix{% endblock %}
{% block body %}
<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <!--        <div class="col-md-3">-->
        <!--            <div class="text-center">-->
        <!--                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">-->
        <!--                <h6>Upload a different photo...</h6>-->

        <!--                <input type="file" class="form-control">-->
        <!--            </div>-->
        <!--        </div>-->

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                This is an <strong>.alert</strong>. Use this to show important messages to the user.
            </div>
            <h3>Personal info</h3>

            <form class="form-horizontal" role="form" method="post" id="customuser_form"
                  action="{% url 'users:profile_editor' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="first_name">First name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="first_name" value="{{ user.first_name }}"
                               maxlength="128"
                               id="first_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="last_name">Last name:</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}"
                               id="last_name">
                    </div>
                </div>
                <!--                <div class="form-group">-->
                <!--                    <label class="col-lg-3 control-label">Time Zone:</label>-->
                <!--                    <div class="col-lg-8">-->
                <!--                        <div class="ui-select">-->
                <!--                            <select id="user_time_zone" class="form-control">-->
                <!--                                <option value="Hawaii">(GMT-10:00) Hawaii</option>-->
                <!--                                <option value="Alaska">(GMT-09:00) Alaska</option>-->
                <!--                                <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp;-->
                <!--                                    Canada)-->
                <!--                                </option>-->
                <!--                                <option value="Arizona">(GMT-07:00) Arizona</option>-->
                <!--                                <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp;-->
                <!--                                    Canada)-->
                <!--                                </option>-->
                <!--                                <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00)-->
                <!--                                    Central Time (US &amp; Canada)-->
                <!--                                </option>-->
                <!--                                <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp;-->
                <!--                                    Canada)-->
                <!--                                </option>-->
                <!--                                <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>-->
                <!--                            </select>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="form-group">-->
                <!--                    <label class="col-md-3 control-label">Username:</label>-->
                <!--                    <div class="col-md-8">-->
                <!--                        <input class="form-control" type="text" value="janeuser">-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="form-group">-->
                <!--                    <label class="col-md-3 control-label">Password:</label>-->
                <!--                    <div class="col-md-8">-->
                <!--                        <input class="form-control" type="password" value="11111122333">-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                <div class="form-group">-->
                <!--                    <label class="col-md-3 control-label">Confirm password:</label>-->
                <!--                    <div class="col-md-8">-->
                <!--                        <input class="form-control" type="password" value="11111122333">-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="form-group">
                    <label class="required col-lg-3 control-label" for="email">Email address:</label>
                    <div class="col-lg-8">
                        <input type="email" name="email" value="{{ user.email }}" class="form-control"
                               maxlength="128" required="" id="email" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-lg-3 control-label">Gender:</label>
                    <div class="col-lg-2">
                        <select name="gender" id="gender" class="form-control" required>
                            {% if user.gender == 'male' %}
                            <option value="male" selected>male</option>
                            <option value="female">female</option>
                            {% elif user.gender == 'female' %}
                            <option value="male">male</option>
                            <option value="female" selected>female</option>
                            {% else %}
                            <option value="" selected disabled hidden>Choose Here</option>
                            <option value="male">male</option>
                            <option value="female">female</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-8">
                        <label for="id_street" class="col-lg-3 control-label">Street:</label>
                        <input type="text" name="street" value="{{user.street}}" class="form-control" maxlength="128"
                               id="id_street">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8">
                        <label for="id_state" class="col-lg-3 control-label">State:</label>
                        <input type="text" name="state" value="{{user.state}}" class="form-control" maxlength="128"
                               id="id_state">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8">
                        <label for="id_country" class="col-lg-3 control-label">Country:</label>
                        <input type="text" name="country" value="{{user.country}}" class="form-control" maxlength="128"
                               id="id_country">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8">
                        <label for="id_zip" class="col-lg-3 control-label">Zip Code:</label>
                        <input type="text" name="zip" value="{{user.zip}}" class="form-control" maxlength="128"
                               id="id_zip">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <button class="btn btn-primary" type="submit">submit</button>
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Cancel">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<hr>


<!--<section>-->
<!--    <div id="content-main">-->

<!--        {% csrf_token %}-->
<!--        <div>-->
<!--            <fieldset class="module aligned ">-->
<!--                <div class="form-row field-first_name">-->
<!--                    <div>-->
<!--                        <label for="first_name">First name:</label>-->
<!--                        <input type="text" name="first_name" value="{{ user.first_name }}" class="vTextField"-->
<!--                               maxlength="128"-->
<!--                               id="first_name">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row field-last_name">-->
<!--                    <div>-->
<!--                        <label for="last_name">Last name:</label>-->
<!--                        <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}" class="vTextField"-->
<!--                               maxlength="128"-->
<!--                               id="last_name">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                        <label class="required col-lg-3 control-label" for="email">Email address:</label>-->
<!--                        <input type="email" name="email" value="{{ user.email }}" class="form-control"-->
<!--                               maxlength="254" required="" id="email" disabled>-->
<!--                </div>-->
<!--                <div class="form-row field-gender">-->
<!--                    <div>-->
<!--                        <label for="gender">Gender:</label>-->
<!--                        <select name="gender" id="gender">-->
<!--                            {% if user.gender == 'male' %}-->
<!--                            <option value="male" selected>male</option>-->
<!--                            <option value="female">female</option>-->
<!--                            {% elif user.gender == 'female' %}-->
<!--                            <option value="male">male</option>-->
<!--                            <option value="female" selected>female</option>-->
<!--                            {% else %}-->
<!--                            <option value="" selected disabled hidden>Choose Here</option>-->
<!--                            <option value="male">male</option>-->
<!--                            <option value="female">female</option>-->
<!--                            {% endif %}-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row field-street">-->
<!--                    <div>-->
<!--                        <label for="id_street">Street:</label>-->
<!--                        <input type="text" name="street" value="{{ user.street }}" class="vTextField"-->
<!--                               maxlength="64" id="id_street">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row field-state">-->
<!--                    <div>-->
<!--                        <label for="id_state">State:</label>-->
<!--                        <input type="text" name="state" value="{{ user.state }}" class="vTextField"-->
<!--                               maxlength="64" id="id_state">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row field-country">-->
<!--                    <div>-->
<!--                        <label for="id_country">Country:</label>-->
<!--                        <input type="text" name="country" value="{{ user.country }}" class="vTextField"-->
<!--                               maxlength="64" id="id_country">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-row field-zip">-->
<!--                    <div>-->
<!--                        <label for="id_zip">Zip Code:</label>-->
<!--                        <input type="text" name="zip" class="vTextField" value="{{ user.zip }}" maxlength="64"-->
<!--                               id="id_zip">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </fieldset>-->
<!--        </div>-->
<!--        <button type="submit">submit</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</section>-->
{% endblock %}