{% extends "basic/layout.html" %}
{% block title %} My Profile | Homefix{% endblock %}
{% block body %}

    <style>
        input.hidden {
            position: absolute;
            left: -9999px;
        }

        #profile-image1 {
            cursor: pointer;

            width: 100px;
            height: 100px;
            border: 2px solid #03b1ce;
        }

        .title {
            font-size: 16px;
            font-weight: 500;
        }

        .bot-border {
            border-bottom: 1px #f8f8f8 solid;
            margin: 5px 0 5px 0
        }

    </style>
    <br><br>
    <center>
        <h1 class="display-7 fw-bold" style="text-transform:uppercase">My Profile</h1>
    </center>
    <br>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->

    <div class="container mb-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header"><h5>{{ user.first_name }}'s Profile</h5></div>
                    <div class="card-body">

                        <div class="box box-info">
                            <div class="box-body">
                                <br>
                                <div class="row">
                                    <div class="col-sm-5" align="right">
                                        <img alt="User Pic"
                                             src="https://github.com/mdo.png"
                                             id="profile-image1" class="img-circle img-responsive">
                                        <br>
                                    </div>
                                    <div class="col">
                                        <h4 class="text-primary">{{ user.first_name }} {{ user.last_name }}</h4>
                                        <h5 class="text-muted">A proud Homefixer</h5>
                                    </div>
                                </div>
                                <br>

                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col title fw-bold">First Name :</div>
                                        </div>
                                    </div>
                                    <div class="col" align="left">{{ user.first_name }}</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col title fw-bold">Last Name :</div>
                                        </div>
                                    </div>
                                    <div class="col" align="left">{{ user.last_name }}</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col title fw-bold">Gender :</div>
                                        </div>
                                    </div>
                                    {% if user.gender == "" %}
                                    <div class="col" align="left">Not set</div>
                                    {% else %}
                                    <div class="col" align="left">{{ user.gender }}</div>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col title fw-bold">Email ID :</div>
                                        </div>
                                    </div>
                                    <div class="col" align="left">{{ user.email }}</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col title fw-bold">Current Coins :</div>
                                        </div>
                                    </div>
                                    <div class="col" align="left">{{ user.coin }}</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col title fw-bold">Street Address :</div>
                                        </div>
                                    </div>
                                    <div class="col" align="left">{{ user.street }}</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col title fw-bold">State :</div>
                                        </div>
                                    </div>
                                    <div class="col" align="left">{{ user.state }}</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col title fw-bold">Country :</div>
                                        </div>
                                    </div>
                                    <div class="col" align="left">{{ user.country }}</div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col title fw-bold">Membership :</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        {% if user.tier == 1 %}
                                            Starter
                                        {% endif %}

                                        {% if user.tier == 2 %}
                                            Golden Hammer
                                        {% endif %}

                                        {% if user.tier == 3 %}
                                            Loyal Customer
                                        {% endif %}</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col justify-content-center align-self-center text-center mt-3">
                                    <a class="btn btn-warning" href="{% url 'user_center:profile_editor' %}"
                                       role="button">Edit Profile</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#  Footer #}
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; Homefix 2022</div>
                </div>
                    <div class="col-auto">
                        <a class="link-light small" href="{% url 'users:privacy' %}">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="{% url 'users:privacy' %}">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="{% url 'users:about' %}">Contact</a>
                    </div>
            </div>
        </div>
    </footer>


    <script>
        $(function () {
            $('#profile-image1').on('click', function () {
                $('#profile-image-upload').click();
            });
        });
    </script>


{% endblock %}