{% extends "basic/layout.html" %}
{% load static %}
{% load socialaccount %}
{% block title %}Login | Homefix{% endblock %}
{% block body %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                         class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <h1 class="mb-4"><strong>Welcome Back!</strong></h1>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <!-- Email -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="email">Email</label>
                            <input type="email" placeholder="Enter Email" name="email" id="email"
                                   class="form-control form-control" required/>
                        </div>

                        <!-- Password -->
                        <label class="form-label" for="password">Password</label>
                        <div class="input-group form-outline mb-4">
                            <input type="password" placeholder="Enter Password" name="password" id="password"
                                   class="form-control form-control" required/>
                            <button class="btn btn-outline-primary" type="button" onclick="toggle()">
                                <i class="fa-solid fa-eye-slash" id="eye"></i>
                            </button>
                        </div>
                        {% if error %}
                            <div class="btn-outline-danger mb-4">
                                {{ error }}
                            </div>
                        {% endif %}
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-primary mb-4 shadow">Login</button>
                    </form>

                    <a href="{% url 'password_reset' %}">Forgot password?</a>
                    <p>Don't have an account? <a href="{% url 'users:register' %}">Register</a></p>

                    <hr class="my-3">

                    <div class="d-grid gap-3 col-6 mx-auto">
                        <a class="btn btn-primary btn-lg btn-block shadow" style="background-color: #3b5998" href="#!"
                           role="button">
                            <i class="fab fa-facebook-f me-2"></i>Login with Meta
                        </a>
                        <a class="btn btn-light btn-lg btn-block shadow" href="{% provider_login_url 'google' %}"
                           role="button">
                            <i class="fa-brands fa-google"></i> Login with Google</a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    {#  Footer #}
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; Homefix 2022</div>
                </div>
                    <div class="col-auto">
                        <a class="link-light small" href="{% url 'users:privacy' %}">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="{% url 'users:privacy' %}">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="{% url 'users:about' %}">Contact</a>
                    </div>
            </div>
        </div>
    </footer>

    <script>
        var state = false;

        function toggle() {
            eye_icon = document.getElementById("eye");
            if (state) {
                document.getElementById("password").setAttribute("type", "password");
                eye_icon.classList.remove("fa-eye");
                eye_icon.classList.add("fa-eye-slash");
                state = false;
            } else {
                document.getElementById("password").setAttribute("type", "text");
                eye_icon.classList.remove("fa-eye-slash");
                eye_icon.classList.add("fa-eye");
                state = true;
            }
        }
    </script>
{% endblock %}