{% extends "users/layout.html" %}
{% block head %}
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .container-fluid {
            max-width: 960px;
        }

        .pricing-header {
            max-width: 700px;
        }
    </style>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block title %}Pricing | Homefix{% endblock %}
{% block body %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
            <title>Check</title>
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </symbol>
    </svg>
    <div class="container-fluid py-3">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-6 fw-normal">Choose the plan that's right for you</h1>

            </div>
        </header>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Free</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Initialize 100 coins</li>
                                <li>20% commission fee</li>
                                <li>Available to request service</li>
                            </ul>
                            <form action="{% url 'users:pricing' %}" method="post">
                                {% csrf_token %}
                                {#                                <button type="button" id="checkout-button" class="w-100 btn btn-lg btn-outline-primary">Checkout</button>#}
                                <button type="submit" class="w-100 btn btn-lg btn-outline-primary" value="0" name="tier"
                                >Select
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ product1.name }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">${{ product1.get_display_price }}<small
                                    class="text-muted fw-light">/yr</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Waiver commission fee</li>
                                <li>Discount in Hardware Stores</li>
                                <li>Priority support</li>
                            </ul>
                            {% csrf_token %}
                            <button type="button" class="checkout-button w-100 btn btn-lg btn-primary">Select</button>
                            {#                           <button type="button" onclick="location.href='https://buy.stripe.com/test_14k4j5gwW0b6aSk4gh'"#}
                            {#                                    class="w-100 btn btn-lg btn-primary">Select#}
                            {#                            </button>#}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-white bg-primary border-primary">
                            <h4 class="my-0 fw-normal">{{ product2.name }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">${{ product2.get_display_price }}<small
                                    class="text-muted fw-light">/yr</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Get 200 coins every month</li>
                                <li>Discount in Hardware Stores</li>
                                <li>Priority support</li>
                            </ul>
                            {% csrf_token %}
                            <button type="button" class="checkout-button w-100 btn btn-lg btn-primary">Select</button>
                        </div>
                    </div>
                </div>

            </div>
            <h2 class="display-6 text-center mb-4">Compare plans</h2>

            <div class="table-responsive">
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th style="width: 34%;"></th>
                        <th style="width: 22%;">Free</th>
                        <th style="width: 22%;">Golden Hammer</th>
                        <th style="width: 22%;">Loyal Customer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row" class="text-start">Request Service</th>
                        <td>
                            <svg class="bi" width="24" height="24">
                                <use xlink:href="#check"/>
                            </svg>
                        </td>
                        <td>
                            <svg class="bi" width="24" height="24">
                                <use xlink:href="#check"/>
                            </svg>
                        </td>
                        <td>
                            <svg class="bi" width="24" height="24">
                                <use xlink:href="#check"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Provide Service</th>
                        <td></td>
                        <td>
                            <svg class="bi" width="24" height="24">
                                <use xlink:href="#check"/>
                            </svg>
                        </td>
                        Ï
                        <td>
                            <svg class="bi" width="24" height="24">
                                <use xlink:href="#check"/>
                            </svg>
                        </td>
                    </tr>
                    </tbody>

                    <tbody>
                    <tr>
                        <th scope="row" class="text-start">Coins</th>
                        <td>
                            100 coins
                        </td>
                        <td>
                            100 coins
                        </td>
                        <td>
                            200 coins / Month
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Commission Fee</th>
                        <td>20%</td>
                        <td>
                            5%
                        </td>
                        <td>20%
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Priority Support</th>
                        <td></td>
                        <td>
                            <svg class="bi" width="24" height="24">
                                <use xlink:href="#check"/>
                            </svg>
                        </td>
                        <td>
                            <svg class="bi" width="24" height="24">
                                <use xlink:href="#check"/>
                            </svg>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Discount in Hardware Stores</th>
                        <td></td>
                        <td>
                            <svg class="bi" width="24" height="24">
                                <use xlink:href="#check"/>
                            </svg>
                        </td>
                        <td>
                            <svg class="bi" width="24" height="24">
                                <use xlink:href="#check"/>
                            </svg>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>

    {#  Footer #}
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; Homefix 2022</div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript">
        (function () {
            var csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
            // Create an instance of the Stripe object with your publishable API key
            var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
            var checkoutButtons = document.getElementsByClassName("checkout-button");

            // Golden Hammer Checkout
            checkoutButtons[0].addEventListener("click", function () {
                fetch("{% url 'users:create-checkout-session' product1.id %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrftoken,
                    },
                }).then(function (response) {
                    return response.json();
                })
                    .then(function (session) {
                        return stripe.redirectToCheckout({sessionId: session.id});
                    })
                    .then(function (result) {
                        if (result.error) {
                            alert(result.error.message);
                        }
                    })
                    .catch(function (error) {
                        console.error("Error:", error);
                    });
            });

            //Loyal Customer Checkout
            checkoutButtons[1].addEventListener("click", function () {
                fetch("{% url 'users:create-checkout-session' product2.id %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrftoken,
                    },
                }).then(function (response) {
                    return response.json();
                })
                    .then(function (session) {
                        return stripe.redirectToCheckout({sessionId: session.id});
                    })
                    .then(function (result) {
                        if (result.error) {
                            alert(result.error.message);
                        }
                    })
                    .catch(function (error) {
                        console.error("Error:", error);
                    });
            });
            //}
        })();
    </script>
{% endblock %}