{% extends "authentication/layout.html" %}
{% block title %}Register | Homefix{% endblock %}
{% block body %}
{% load socialaccount %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://i.ibb.co/gyNd6Jp/undraw-My-password-re-ydq7-1.png"
                         alt="undraw-My-password-re-ydq7-1"
                         border="0">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <h1 class="mb-4"><strong>Create an account</strong></h1>
                    <form action="{% url 'authentication:register' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input type="text" placeholder="First Name" id="first_name" name="first_name"
                                           class="form-control form-control" required/>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input type="text" placeholder="Last Name" id="last_name" name="last_name"
                                           class="form-control form-control" required/>
                                </div>
                            </div>
                        </div>
                        {% if form.errors.first_name.data.0 %}
                            <div class="btn-outline-danger">
                                {{ form.errors.first_name.data.0|join:" // " }}
                            </div>
                        {% endif %}
                        {% if form.errors.last_name.data.0 %}
                            <div class="btn-outline-danger">
                                {{ form.errors.last_name.data.0|join:" // " }}
                            </div>
                        {% endif %}
                        <!-- Email -->
                        <div class="form-outline mb-3">
                            <input type="email" placeholder="Enter Email" id="email" name="email"
                                   class="form-control form-control"/>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            {% if form.errors.email.data.0 %}
                                <div class="btn-outline-danger">
                                    {{ form.errors.email.data.0|join:" // " }}
                                </div>
                            {% endif %}
                        </div>
                        <!-- Gender -->
                        <div class="form-outline mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="male"
                                       required>
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="female"
                                       required>
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="other" value="other"
                                       required>
                                <label class="form-check-label" for="inlineRadio3">Other</label>
                            </div>
                        </div>
                        {% if form.errors.gender.data.0 %}
                            <div class="btn-outline-danger">
                                {{ form.errors.gender.data.0|join:" // " }}
                            </div>
                        {% endif %}
                        <!-- Password -->
                        <div class="input-group form-outline mb-4">
                            <input type="password" placeholder="Enter Password"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="password1" name="password1"
                                   class="form-control form-control" required/>
                            <button class="btn btn-outline-primary" type="button" onclick="toggle1()">
                                <i class="fa-solid fa-eye-slash" id="eye1"></i>
                            </button>
                        </div>
                        <div class="input-group form-outline mb-3">
                            <input type="password" placeholder="Re-type Password"
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="password2" name="password2"
                                   class="form-control form-control" required/>
                            <button class="btn btn-outline-primary" type="button" onclick="toggle2()">
                                <i class="fa-solid fa-eye-slash" id="eye2"></i>
                            </button>
                            <div id="passwordHelpBlock" class="form-text">
                                Your password must be 8-20 characters long, contain letters and numbers.
                            </div>
                            {% if form.errors.password2.data.0 %}
                                <div class="btn-outline-danger">
                                    {{ form.errors.password2.data.0|join:" // " }}
                                </div>
                            {% endif %}
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-warning mb-3 shadow">Register</button>
                    </form>
                    <p>Already have an account? <a href="{% url 'authentication:login' %}">Login</a></p>

                    <hr class="my-3">

                    <div class="d-grid gap-3 col-6 mx-auto">
                        <a class="btn btn-primary btn-lg btn-block shadow" style="background-color: #3b5998" href="#!"
                           role="button">
                            <i class="fab fa-facebook-f me-2"></i>Continue with Meta
                        </a>
                        <a class="btn btn-light btn-lg btn-block shadow" href="{% provider_login_url 'google' %}" role="button">
                            <i class="fa-brands fa-google"></i> Continue with Google</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script>
        var state1 = false;
        var state2 = false;

        function toggle1() {
            let eye_icon = document.getElementById("eye1");
            if (state1) {
                document.getElementById("password1").setAttribute("type", "password");
                eye_icon.classList.remove("fa-eye");
                eye_icon.classList.add("fa-eye-slash");
                state1 = false;
            } else {
                document.getElementById("password1").setAttribute("type", "text");
                eye_icon.classList.remove("fa-eye-slash");
                eye_icon.classList.add("fa-eye");
                state1 = true;
            }
        }

        function toggle2() {
            let eye_icon = document.getElementById("eye2");
            if (state2) {
                document.getElementById("password2").setAttribute("type", "password");
                eye_icon.classList.remove("fa-eye");
                eye_icon.classList.add("fa-eye-slash");
                state2 = false;
            } else {
                document.getElementById("password2").setAttribute("type", "text");
                eye_icon.classList.remove("fa-eye-slash");
                eye_icon.classList.add("fa-eye");
                state2 = true;
            }
        }
    </script>
{% endblock %}