{% extends "basic/layout.html" %}
{% block title %} Hardware Stores | Homefix {% endblock %}
{% block body %}

<style>
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
</style>
<script>
  let map;
  let service;
  let infowindow;
  const iconBase =
    "https://developers.google.com/maps/documentation/javascript/examples/full/images/";

    const icons = {
    hardware: {
      icon: iconBase + "info-i_maps.png",
    },
    users: {
      icon: iconBase + "library_maps.png",
    },

    };
  function initMap() {
    //const sydney = new google.map.LatLng(-33.867, 151.195);
    var directionsService = new google.maps.DirectionsService();
  var directionsRenderer = new google.maps.DirectionsRenderer();
    infowindow = new google.maps.InfoWindow();
    var userlocations = eval("{{base|safe}}")
    var locations = eval("{{user_loc|safe}}");
    var uluru = { lat: locations[0], lng: locations[1] };
    
    console.log(locations);
    
    map = new google.maps.Map(document.getElementById("map"), {
      center: uluru,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    
    let markeru = new google.maps.Marker({
      position: uluru,
      icon: icons["users"].icon,
      map: map,
    });
    for (var i = 0; i < userlocations.length; i++) {
      console.log(userlocations[i])
      uluruusers = { lat: userlocations[i][0], lng: userlocations[i][1] };
      var markerus = new google.maps.Marker({
        position: uluruusers,
        icon: icons["users"].icon,
        map: map,
      });
    }
    let request = {
      location: uluru,
      radius: '500',
      query: 'Harware Stores'
    };

    service = new google.maps.places.PlacesService(map);
    service.textSearch(request, (results, status) => {
      if (status === google.maps.places.PlacesServiceStatus.OK && results) {
        for (let i = 0; i < results.length; i++) {
          console.log(results[i]);
          let mkr = { lat: results[i].geometry.location.lat(), lng: results[i].geometry.location.lng() };
          let marker = new google.maps.Marker({
            position: mkr,
            map: map,
            icon: icons["hardware"].icon,
            title: "Hardware Store",

            
          });
          const infowindow = new google.maps.InfoWindow({
            content: results[i].name+" </br> Status:"+results[i].opening_hours.open_now,

          });


           marker.addListener('mouseover', function() {  
          
              infowindow.open(map, this);
              //map.setCenter(marker.getPosition());
          });
          marker.addListener('mouseout', function() {
              infowindow.close();
          });
          marker.addListener('click', function() {
            //calcRoute(uluru, marker.getPosition());
            directionsRenderer.setMap(map);
            let request = {
                origin: uluru,
                destination: marker.getPosition(),
                travelMode: 'DRIVING'
              };

              directionsService.route(request, function(result, status) {
            if (status == 'OK') {
              directionsRenderer.setDirections(result);
            }else{
              console.log("shit");
            }
            });
          });
          
        }
      }
    });
  }
  


</script>
<h3>Near by Hardware Stores</h3>
<div id="map"></div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5T-eiKa6XvYLkvOV00GYiCKTcFyeUOnE&callback=initMap&libraries=places&v=weekly"
  async></script>
{% endblock %}